{% extends "base.html" %}
{% block title %}
  {{ dish.name }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if dish.logo %}
          <a href="{{ dish.logo.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ dish.logo.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ dish.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {{ dish.price }}<br>
            {{ dish.descriprion}}<br>
          </small>
        </h6>
        {% if user.is_authenticated %}
          <div class="mb-2">
            <a class="btn btn-sm text-muted" href="{% url 'dish:edit' dish.id %}" role="button">
              Отредактировать блюдо
            </a>
            <a class="btn btn-sm text-muted" href="{% url 'dish:delete' dish.id %}" role="button">
              Удалить блюдо
            </a>
          </div>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            <a href="{% url 'review:create' %}">Добавить отзыв</a>
            <a href="{% url 'review:list' %}">Список отзывов</a>
          </small>
      </div>
    </div>
  </div>
{% endblock %}