{% extends "base.html" %}
{% load static %}
{% block title %}Список ресторанов{% endblock %}

{% block content %}
    <h1>Список ресторанов</h1>
    <ul>
        {% for restaurant in restaurants %}
            {% if restaurant.logo %}
                <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}" width="100">
            {% endif %}
            <li><a href="{% url 'restaurant:detail' restaurant.id %}">{{ restaurant.name }} - {{ restaurant.address }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}